<h1>Bonjour {{ username }}, et bienvenue sur notre site.<br></h1>

<p>
   Veuillez confirmer votre compte dès maintenant en cliquant sur le lien ci-dessous : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
   Knowledge E_leaning!
</p>
