<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
</head>
<body>
   <div class="alert alert-info">
          {% if cursusPurchased %}
        <p>Vous avez déjà acheté le cursus auquel appartient cette leçon.</p>
    {% endif %}
        <p>Veuillez vérifier votre page de cours</p>
    </div>
</body>
</html>