<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alerte</title>
</head>
<body>
   <div class="alert alert-info">
        <h1>Vous avez déja acheter cette lecon</h1>
        <p>Veuillez vérifier votre page de cours</p>
    </div>
</body>
</html>